{% extends '/output/comparison_items/comp_projects.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("comp_projects_"~ side) }}{% endblock %}

{% import "/templates/comparison/macro_projects.twig" as macro %}

{% block title %}Compare Projects - Summary{% endblock %}

{% block content %}
<div class="row jumbotron text-light m-5 bg-dark p-3 text-center">
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </h5>
</div>

{{ macro.summary_projects(projects,projectsData,measures,ucs) }}

<div class="row m-3 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="window.location.assign('?A=comp_projects&amp;A2=finsoc_comp&amp;side={{side}}');"></button>
</div>
{% endblock %}
