{% macro choose_ucm() %}
<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <h3>Please choose a <strong>Use Cases Menu</strong> before !</h3>
    </div>
</div>
<div class="row text-center text-dark">
    <a class="offset-5 col-2" href="?A=project_design&amp;A2=ucm">
        <button class="btn btn-dark">Go to choose</button>
    </a>
</div>
{% endmacro %}

