<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../public/assets/css/bootstrap/bootstrap.min.css">
    <link href="../../public/img/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
	<link href="../../public/assets/css/simple-sidebar.css" rel="stylesheet">
	<link href="../../public/assets/css/custom.css" rel="stylesheet">
    <script src="../../public/assets/js/jquery.min.js"></script>
    <script src="../../public/assets/js/Chart.bundle.min.js"></script>
    <script src="../../public/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    {#<style type="text/css"></style>#}
    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		{% block sidebar %}{% endblock %}
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			{% block navbar %}{% endblock %}
			<div class="container-fluid page-content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>

<script type="text/javascript" src="../../public/assets/js/custom/sidebar.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/measForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/critForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/DLTsForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/ucsForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/table.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/ratingForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/scoringCharts.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/globalScoreForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/prereq_projectDesign.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/project_scoping/scopeForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/project_scoping/zonesForm.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/project_scoping/sizeForm.js"></script>

</html>