{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage Users{% endblock %}

{% import "/templates/admin/macro_users.twig" as list %}
{% import "/templates/admin/modal_users.twig" as modal %}


{% block content %}
{# <h1>List of users</h1> #}
{#{% set users = [[1,"Toto","5454545","Yes"],[2,"Tata","fdfd2424","No"]] %}#}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewUserModal" role="button">Create a new User</button>
</div>
{{ list.list_users(users,isTaken) }}
{{ modal.create_user() }}
{% endblock %}