{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage Criteria{% endblock %}

{% import "/templates/admin/macro_criteria.twig" as list %}
{% import "/templates/admin/modal_criteria.twig" as modal %}


{% block content %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewCritModal" role="button">Create a new Criteria</button>
</div>

{{ list.list_criteria(criteria,cat,isTaken) }}
{{ modal.create_crit(cat) }}
{% endblock %}