{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("comparison") }}{% endblock %}

{% block title %}Output / Comparison{% endblock %}

{% block content %}
<div class="row m-5 align-items-center">
    <div class="col-lg-6 text-center">
        <img src="./../../public/img/colorbannew.png" class="img-fluid" alt="Responsive image"></img>
    </div>
    <div class="col-lg-5">
        <h2 class="text-center">Output / Comparison</h2>
    </div>
</div>
<div class="row m-5">
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
</div>
<div class="row my-5">
    <a class="offset-3 col-2 btn btn-dark d-flex align-items-center justify-content-center" href="?A=comp_projects" role="button">Compare<br>Projects</a>
    <a class="offset-2 col-2 btn btn-dark d-flex align-items-center justify-content-center" href="?A=comp_finscen" role="button">Compare<br>Financial Scenarios</a>
</div>

{% endblock %}
