#wrapper{
    min-height: 100vh;
    height:100%;
}

/* .sidebar{
    height: 100vh;
    position: fixed;
    position: ;
    display: block;
    width: 20%;
} */

.sidebar a, h4{
    color:white;
}
/* 
#page-content-wrapper{

} */

.navbar-brand{
    font-size: 1em;
    text-transform: uppercase;
}

#login-form{
    border-radius: 50px;
}

.list-table{
    max-height: 50vh;
    overflow-y: auto;
}

th{
    vertical-align: middle !important;
}

.next-button{
    color:inherit;
    font-size:50px;
}

.next-button:hover{
    text-decoration: none;
    color: black;
}

.infos-bar{
    height: 7vh;
    background-color: #6d6d6d;
    color:white;
}

.thead2 th {
    min-width: 100px;
    max-width: 200px;
}

th, td{
    vertical-align: middle !important;
}

.ucs-table{
    max-height: 65vh;
}

.ucs-table th, .ucs-table td{
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}

.rate-table th, .rate-table td{
    vertical-align: middle !important;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}

.rate-table{
    max-height: 65vh;
}

.img_guid{
    max-width: 300px;
    height: auto;
}

.popover{
    max-width: 100%;
}

#size_table th, #size_table select {
    vertical-align: middle !important;
    text-align: center;
}

.volumes_table th, .ratio_table th,.volumes_table input, .ratio_table input {
    vertical-align: middle !important;
    text-align: center;
}
.volumes_table th{
    min-width: 200px;
}

#schedules_implem {
    max-height: 80vh;
    overflow-y: auto;
}

.date_input{
    text-align: center;
    color:black;
}

.copy-dates{
    font-size:30px;
    vertical-align: middle !important;
}

.erase-dates{
    font-size: 20px;
    vertical-align: middle !important;
}

#logo_urbatis {
    height: 30px;
}

.navbar {
    font-size: 20px;
}

.summary_table {
    max-height: 100vh;
}

.summary_table .item {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.cbuc_table {
    max-height: 100vh;
}

.cbuc_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.keydates_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.keyratios_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.budget_uc_table .item, .budget_all_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    min-width: 15vw;
}

.budget_uc_table .sub_item, .budget_all_table .sub_item{
    font-size: smaller;
}

.cball_table {
    max-height: 80vh;
}

.cball_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.financial_bank .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
    min-width: 10vw;
    max-width: 10vw;
}

.financial_bank {
    text-align: center !important;
    vertical-align: middle !important;
    max-height: 100vh;
}

.financial_bank th{
    min-width: 8vw;
    max-width: 8vw;
}

.societal_bank .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
    min-width: 10vw;
    max-width: 10vw;
}

.societal_bank {
    text-align: center !important;
    vertical-align: middle !important;
    max-height: 100vh;
}

.societal_bank th{
    min-width: 8vw;
    max-width: 8vw;
}

.budget_uc_table{
    max-height: 100vh;
}

.budget_all_table{
    max-height: 100vh;
}

.project_scope_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.budget_impact_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.cost_benefits_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.bankability_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.bank_define_table .item {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
    width: 60%;
}

.cost_benefits_table1 .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
    width: 50%;
}

.cost_benefits_table2 .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}
.cost_benefits_table2 td{
    width: 25%;
}

.funding_sources_table{
    max-height: 150vh;    
}

.funding_sources_table .check-col{
    width: 5%; 
}

.funding_sources_table a{
    color : black;
}

.funding_sources_table a:hover{
    color : gray;
}

.funding_sources_table a:active{
    color : darkgray;
}

.entities_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.entities_table{
    max-height: 150vh;    
}

.entities_table_2 .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.entities_table_2{
    max-height: 150vh;    
}

.benef_table{
    max-height: 150vh;    
}

.benef_table .check-col{
    width: 5%; 
}

.benef_table a{
    color : white;
}

.benef_table a:hover{
    color : darkgray;
}

.benef_table a:active{
    color : gray;
}


.financing_table .years, .financing_table .dates{
    min-width: 7vw;
}

.financing_table .separation_dates{
    min-width: 4vw;
    max-width: 4vw;
}

.financing_table .item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-weight: bold;
}

.financing_table .sub_item{
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    font-size: smaller;
    font-weight: bold;
    text-align: right;
}

.check-col{
    min-width: 25px;
    max-width: 25px;
    text-align: center;
}