#wrapper{
    min-height: 100vh;
    height:100%;
}

.sidebar a, h4{
    color:white;
}

.navbar-brand{
    font-size: 1em;
    text-transform: uppercase;
}

#login-form{
    border-radius: 50px;
}

.list-table{
    max-height: 45vh;
    overflow-y: auto;
}

.check-col{
    min-width: 35px;
    max-width: 35px;
    text-align: center;
}

.next-button{
    color:inherit;
}
.next-button:hover{
    text-decoration: none;
    color: black;
}

.infos-bar{
    height: 7vh;
    background-color: #6d6d6d;
    color:white;
}

.thead2 th {
    min-width: 100px;
    max-width: 200px;
}

.thead2 th, td{
    vertical-align: middle !important;
}

.ucs-table{
    max-height: 60vh;
}

.ucs-table th, td{
    vertical-align: middle !important;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}

#test{
}