#wrapper{
    min-height: 100vh;
    height:100%;
}

.sidebar a, h4{
    color:white;
}

.navbar-brand{
    font-size: 1em;
    text-transform: uppercase;
}

#login-form{
    border-radius: 50px;
}

.list-table{
    max-height: 45vh;
    overflow-y: auto;
}

.check-col{
    width: 35px;
    text-align: center;
}

.next-button{
    color:inherit;
}
.next-button:hover{
    text-decoration: none;
    color: black;
}

.infos-bar{
    height: 7vh;
    background-color: #6d6d6d;
    color:white;
}

