{% extends '/others/general_common.twig' %}
{% set sideBarName = "customer_dashboards" %}

{% import "/templates/choose_redirect.twig" as redirect %}
{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/customer_dashboards/macro_option.twig" as option %}

{% block sidebar %}{{ sidebar.sidebar("customer_dashboards", projID) }}{% endblock %}

{% block title %}Dashbords - Qualitative{% endblock %}

{% block content %}


{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}

<div class="row jumbotron text-light bg-dark m-5 p-3">
    <div class="col text-center">
        <h5>Bar Chart representation of qualitative items.</h5>
    </div>
</div>


{{ option.option(selScope, ucs) }}
<div class="col-7  px-0">

    <div class="dash-bg container-fluid m-1 ml-2 p-4">

        <div class="dash-bg-light container-fluid p-3" id = "graph-container">
            <canvas id="barchart"></cancvs>
        </div>
        
        <div class="text-center">
            <span id="errorInput" style="color:red;"></span>
        </div>
    </div>
</div>


<div id="data"  data-to-show="{{ data|json_encode }}"></div>
<script type="text/javascript" src="../../public/assets/js/custom/chartsColors.js"></script>
<script type="text/javascript" src="../../public/assets/js/custom/customer_bc/barchart.js"></script>


{% endblock %}

