{% extends '/input/project_design.twig' %}



{% block content %}
<div class="">
    <div class="row m-5 align-items-center">
        <div class="col-lg-6 text-center">
            <img src="./../../public/img/colorbannew.png" class="img-fluid" alt="Responsive image"></img>
        </div>
        <div class="col-lg-5">
            <h2 class="text-center">{% block title %}Project Design - Global Score{% endblock %}</h2>
        </div>
    </div>
</div>
{% endblock %}

