{% extends '/output/dashboards.twig' %}

{% import "/templates/second_bar.twig" as second_bar %}
{% import "/templates/sidebar.twig" as sidebar %}
{% import "/templates/dashboards/macro_bankability.twig" as macros %}

{% block title %}Dashboards - Bankability{% endblock %}

{% block sidebar %}{{ sidebar.sidebar("dashboards",projID) }}{% endblock %}

{% block content %}

{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,selected) }}


<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="dash-bg container-fluid m-1 mt-5 ml-2 p-4">
                {# INPUT #}
                <div class="dash-bg-light container-fluid p-3">

                    {{ macros.input_target_nogo(selDevSym) }}
                </div>
            </div>

            {# GRAPHS #}
            <div class="dash-bg container-fluid m-1 ml-2 p-4">
                <div class="dash-bg-light container-fluid p-3">

                </div>
            </div>
        </div>

        <div class="col-6">
        
            {# PROJECT BANKABILITY #}
            <div class="dash-bg container-fluid m-1 ml-2 mt-5 p-4">                
                <div class="dash-bg-light container-fluid p-3">

                </div>
            </div>

            {# OVERAL #}
            <div class="dash-bg container-fluid m-1 ml-2 p-4">                
                <div class="dash-bg-light container-fluid p-3">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-5 text-center text-dark">
    <button class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true" onclick="window.location.assign('?A=dashboards&amp;A2=financing&amp;projID={{projID}}');"></button>
</div>

{% endblock %}