{% extends '/output/comparison_items/comp_finscen.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("comp_finscen") }}{% endblock %}

{% block title %}Compare Financial Scenarios - Scenarios{% endblock %}

{% import "/templates/comparison/macro_scen.twig" as macro %}


{% block content %}
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
</div>


<div class="row">
    {% if projects|length < 2 %}
    <div class="col">
        <h4 class="text-danger text-center font-italic">Please create at least 2 projects in <a class="text-danger font-weight-bold" href="?A=project_design&amp;A2=ucm">"Project Scoping"</a>.</h4>
    </div>
    {% else %}    
        <form class="col container-fluid" name="form_proj" id="form_proj" onsubmit="return countChecked_selScen('form_proj');" action="?A=comp_finscen&amp;A2=scenarios_selected" method="post">
            <div class="row text-center">
                <h4 id="" class="col text-dark">Select Project(s)</span>
            </div>
            {{ macro.list_proj(projects,list_scen) }}
            <div class="row mt-4 mb-0 text-center">
                <span id="countProjSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
            </div>
            <div class="row text-center mt-3">
                <h6 id="help_proj" class="col text-danger font-weight-bold text-center" hidden>Please select at least 1 project !</h6>
            </div>

            <div class="row mt-5 text-center">
                <h4 id="" class="col text-dark">Select Scenarios</span>
            </div>
            {{ macro.list_scen(projects,list_scen) }}
            <div class="row mt-4 mb-0 text-center">
                <span id="countScenSelect" class="offset-5 col-2 text-white btn btn-info disabled"></span>
            </div>
            <div class="row text-center mt-3">
                <h6 id="help_scen" class="col text-danger font-weight-bold text-center" hidden>Please select at least 2 scenarios !</h6>
            </div>
            

            <div class="row my-0 text-center text-dark">
                <button type="submit" class="btn btn-link offset-5 col-2 oi oi-arrow-circle-right next-button" title="arrow-circle-right" style="font-size:50px;" aria-hidden="true"></button>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
