{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("business_model") }}{% endblock %}

{% block title %}Business Model{% endblock %}

{% block content %}
<div class="">
    <div class="row m-5 align-items-center">
        <div class="col-lg-6 text-center">
            <img src="./../../public/img/colorbannew.png" class="img-fluid" alt="Responsive image"></img>
        </div>
        <div class="col-lg-5">
            <h2 class="text-center">Financing / Business Model</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../../public/assets/js/custom/business_model/prereq_businessModel.js"></script>
{% endblock %}