{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("project_dev") }}{% endblock %}

{% block title %}Project Developement{% endblock %}

{% block content %}
<div class="row m-5 align-items-center">
    <div class="col-lg-6 text-center">
        <img src="./../../public/img/colorbannew.png" class="img-fluid" alt="Responsive image"></img>
    </div>
    <div class="col-lg-5">
        <h2 class="text-center">Input / Project Developement</h2>
    </div>
</div>
<div class="row jumbotron text-light mx-5 bg-dark p-3">
    <div class="col text-center">
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </p>
    </div>
</div>
<div class="row m-5">
    <a class="offset-3 col-2 btn btn-dark" href="?A=project_design" role="button">Project Design</a>
    <a class="offset-2 col-2 btn btn-dark" href="?A=project_scoping" role="button">Project Scoping</a>
</div>

{% endblock %}
