{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin,devises) }}{% endblock %}

{% import "/templates/sidebar.twig" as sidebar %}
{% block sidebar %}{{ sidebar.sidebar("admin") }}{% endblock %}

{% block title %}Administration{% endblock %}

{% block content %}
<div class="row m-5 align-items-center">
    <div class="col-lg-6 text-center">
        <img src="./../../public/img/colorbannew.png" class="img-fluid" alt="Responsive image"></img>
    </div>
    <div class="col-lg-5">
        <h2 class="text-center">Administration</h2>
    </div>
</div>
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet varius neque, eget facilisis urna. Nunc sit amet libero varius erat interdum tempus. Morbi elit diam, malesuada vel iaculis at, fermentum sed metus. Quisque finibus urna et lorem varius aliquam. Aliquam molestie massa non lorem tincidunt aliquam. Fusce ullamcorper euismod arcu eu laoreet. Sed nec faucibus sem. </h5>

    </div>
</div>
{% endblock %}
