{% extends '/templates/common_page.twig' %}

{% import "/templates/navbar.twig" as navbar %}
{% block navbar %}{{ navbar.navbar(is_connected,is_admin) }}{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="row align-items-center mt-5" >
    <div class="col-lg-6 text-center">
        <img src="../public/img/colorbannew.png" class="img-fluid" alt="Responsive image"></img>
    </div>
    <div class="col-lg-5">
        <h2 class="text-center">Decision Support Toolkit<br>Value and Financial modeling</h2>
        <h6 class="text-center">Version 2.0.0</h6>
        <h5 class="text-center my-5 text-uppercase">Make the case for Smart City projects</h5>
    </br>
    <h3 class="text-center my-5">Hello {{ username }}</h3>
    </div>
</div>
{% endblock %}
