{% macro torus() %}
<h3 class="dash-title mb-3">Number of use case items</h3>

<div hidden>
    {% for measID,list_ucs in scope %}
    <table>
        <tr>
            <td class="measureName">{{ measures[measID]['name'] }}</td>
        </tr>
        {% for ucID in list_ucs %}
        <tr>
            <td class="ucName">{{ucs[ucID]['name']}}</td>
            <td class="ucQuantity">{{volumes[ucID]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
<canvas id="numberOfItems" height="150px"/> 

{% endmacro %}