{% macro option(selScope, ucs, js = "updateData") %}
<div class="dash-bg container-fluid m-1 ml-2 p-4">
    <div class="dash-bg-light container-fluid p-3">
        <table> 
            <tr> 
                <td> Select Use Case : </td> 
                <td> 
                    <div class="col text-center">
                        <select id="uc" name="uc" class="form-control" onchange="{{js}}()">
                        {% set i = true  %}
                        {% for meas,list_ucs in selScope %}
                            {% for uc in list_ucs %}
                                <option value="{{ uc }}" {{ i ? 'selected="selected"' }}>{{ ucs[uc]['name'] }}</option>
                                {% set i = false %}
                            {% endfor %}
                        {% endfor %}
                        </select>
                    </div> 
                </td> 
            </tr> 
        </table>
    </div>
</div>
{% endmacro %}