{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage Capex Items{% endblock %}

{% import "/templates/admin/macro_item.twig" as list %}
{% import "/templates/admin/modal_item.twig" as modal %}

{% block content %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewItem1Modal" role="button">Create a new Capex Item</button>
</div>


{{ list.list_item1(listItem,catItemName,isTaken) }} 
{{ modal.create_item1(catItemName,UC) }} 
{% endblock %}