{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage District Location Types{% endblock %}

{% import "/templates/admin/macro_dlt.twig" as list %}
{% import "/templates/admin/modal_dlt.twig" as modal %}


{% block content %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewDLTModal" role="button">Create a new<br>District Location Type</button>
</div>
{{ list.list_dlt(dlt,isTaken) }}
{{ modal.create_dlt() }}
{% endblock %}