{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage Use Cases{% endblock %}

{% import "/templates/admin/macro_usecases.twig" as list %}
{% import "/templates/admin/modal_usecases.twig" as modal %}


{% block content %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewUseCaseModal" role="button">Create a new usecase</button>
</div>
{% for id_meas,meas in measures %}
    <div class="row mt-5">
        <h3 class="col text-center">{{meas['name']}}</h3>
    </div>
    {{ list.list_usecases(usecases,measures,id_meas,cat,isTaken) }}
{% endfor %}
{{ modal.create_usecase(measures,cat) }}
{% endblock %}