{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage Quantifiable Non Monetizable Benefits Items{% endblock %}

{% import "/templates/admin/macro_item.twig" as list %}
{% import "/templates/admin/modal_item.twig" as modal %}

{% block content %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createQuantifiableModal" role="button">Create a new Quantifiable Non Monetizable Benefits Item</button>
</div>


{{ list.list_quantifiable(listItem,'quantifiable',isTaken) }} 
{{ modal.create_quantifiable(UC) }} 
{% endblock %}