{% extends '/others/admin_menu/manage_db.twig' %}

{% block title %}Manage Non Cash Benefits Items{% endblock %}

{% import "/templates/admin/macro_item.twig" as list %}
{% import "/templates/admin/modal_item.twig" as modal %}

{% block content %}
<div class="row mt-5">
    <button class="offset-5 col-2 btn btn-dark text-light" data-toggle="modal" data-target="#createNewItem3Modal" role="button">Create a new Non Cash Benefits Item</button>
</div>


{{ list.list_item3(listItem,catItemName,isTaken) }} 
{{ modal.create_item3(catItemName,UC) }} 
{% endblock %}