{# default parametres #}
{% set commonPage = '/others/general_common.twig' %}
{% set lorem = 'Compare projects.' %}




{% extends commonPage %}

{% import "/templates/second_bar.twig" as second_bar %}





{% block content %}
{{ second_bar.second_bar(username,is_admin,selDevName,selDevSym,part,"") }}
{% if lorem != '' %}
<div class="row jumbotron text-light m-5 bg-dark p-3">
    <div class="col text-center">
        <h5>{{lorem|nl2br}} </h5>
    </div>
</div>
{% endif %}




{% endblock %}

{% block scripts %}

{% endblock %}
