{% macro list_revenues(revenues_items, projID=0,ucID=0, type="equipment", sideBarName,listUcID=[]) %}
	<div class="row text-center">
		<div class="col mx-5 mb-5 list-table">
			<table class='table table-lg table-bordered table-striped table-responsive-lg'>
				<thead class="thead-dark text-center sticky-top">
					<tr>
						<th scope="col"></th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Cost per unit</th>
						<th scope="col">Number of units</th>
					</tr>
				</thead>
				{% for id, item in revenues_items %}
					<tr id="" scope="row">
						<td class="check-col align-middle"><input type="checkbox" onclick=""></td>
						<td scope="col">{{ item['name'] }}</td>
						<td scope="col">{{ item['description'] }}</td>
						<td scope="col">{{ item['price_per_unit'] }}</td>
						<td scope="col">{{ item['nb_units'] }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endmacro %}
