{% macro list_revenues(revenues_items, projID=0,ucID=0, type="equipment", sideBarName,listUcID=[]) %}

	<h3 class="text-center mt-5 mb-3 text-uppercase">
		{% if type == "equipment" %}equipment
			{% elseif type =="opex" %}Opex
			{% elseif (type =="deployment_costs" and (sideBarName == "input_project_common" or sideBarName == "input_project_common_supplier")) %}Deployment and Set-up
			{% elseif type =="deployment_costs" %}Implmentation
		{% endif %}Items</h3>
	<div class="row text-center">
		<div class="col mx-5 mb-5 list-table">
			<table class='table table-lg table-bordered table-striped table-responsive-lg'>
				<thead class="thead-dark text-center sticky-top">
					<tr>
						<th scope="col"></th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				{% for id, item in revenues_items %}
					<tr id="" scope="row"></tr>
					<td class="check-col align-middle"><input type="checkbox" onclick="countSelectedXpex(form_xpex);"></td>
					<td scope="col">{{ item['name'] }}</td>
					<td scope="col">{{ item['description'] }}</td>
				</tr>
		</tr>
	{% endfor %}
</table></div></div>{% endmacro %}
